@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-900 antialiased;
    cursor: auto !important;
  }
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* Fix cursor issues */
* {
  cursor: auto !important;
}

button, a, input, select, textarea {
  cursor: pointer !important;
}

input, textarea {
  cursor: text !important;
}

.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}